<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  Select csv to upload:
  <input type="file" name="fileToUpload" id="fileToUpload">
  <input type="submit" value="Upload CSV" name="submit">
</form>

<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Roll</th>
        <th>Class</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
    {% for stud in student %}
      <tr>
        <td>{{stud.id}}</td>
        <td>{{stud.roll}}</td>
        <td>{{stud.sclass}}</td>
        <td>{{stud.fname}}</td>
        <td>{{stud.lname}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>

<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Country</th>
        <th>Year</th>
        <th>Population</th>
      </tr>
    </thead>
    <tbody>
    {% for popu in population %}
      <tr>
        <td>{{popu.id}}</td>
        <td>{{popu.country}}</td>
        <td>{{popu.year}}</td>
        <td>{{popu.population}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>